@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", arial, sans-serif;
  line-height: 1.5; }

.header {
  position: relative; }
  .header::before {
    content: '';
    width: 100%;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#7c28b1), to(#35eef6));
    background: -webkit-linear-gradient(left, #7c28b1, #35eef6);
    background: linear-gradient(90deg, #7c28b1, #35eef6);
    position: absolute;
    top: 0; }

.header__head {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0; }

.header__head_menu ul.first-step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__head_menu ul.first-step li {
    padding-right: 40px; }
    .header__head_menu ul.first-step li:last-child {
      padding-right: 0; }
    .header__head_menu ul.first-step li a {
      color: #34383d;
      font-size: 18px;
      font-weight: 300;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      .header__head_menu ul.first-step li a i {
        margin-left: 8px;
        font-weight: lighter;
        font-size: 13px; }
      .header__head_menu ul.first-step li a:hover {
        color: #35eef6;
        -webkit-transition: all 0.4s;
        transition: all 0.4s; }
  .header__head_menu ul.first-step .search {
    border: 1px solid #bdc3c7;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    height: 38px;
    width: 38px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__head_menu ul.first-step .search a i {
      color: #bdc3c7;
      font-size: 22px;
      margin: 0; }
  .header__head_menu ul.first-step .sub-menu {
    position: relative; }

.header__head_menu ul.second-step {
  background-color: #ffffff;
  width: 230px;
  position: absolute;
  top: 70px;
  left: -40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .header__head_menu ul.second-step li {
    border-bottom: 1px solid #ecf0f1; }
    .header__head_menu ul.second-step li a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 16px;
      width: 190px;
      padding: 16px 20px 12px 20px; }
      .header__head_menu ul.second-step li a i {
        -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
                transform: rotate(270deg);
        margin: 0; }
    .header__head_menu ul.second-step li:hover {
      background-color: #f7f9f9; }

.header__head_menu ul.third-step {
  width: 230px;
  position: absolute;
  top: 0;
  left: 230px;
  background-color: #ffffff; }
  .header__head_menu ul.third-step li {
    border-bottom: 1px solid #ecf0f1;
    padding: 0; }
    .header__head_menu ul.third-step li a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 16px;
      width: 190px;
      padding: 16px 20px 12px 20px; }
      .header__head_menu ul.third-step li a i {
        -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
                transform: rotate(270deg);
        margin: 0; }
      .header__head_menu ul.third-step li a:hover {
        background-color: #f7f9f9; }

.grid-item {
  height: 370px;
  width: 370px;
  background-color: pink;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.main {
  background: -webkit-gradient(linear, left top, right top, from(#7c28b1), to(#35eef6));
  background: -webkit-linear-gradient(left, #7c28b1, #35eef6);
  background: linear-gradient(90deg, #7c28b1, #35eef6);
  padding: 110px 0; }
  .main .main__slider {
    margin: 0 auto;
    max-width: 1170px;
    text-align: center; }
    .main .main__slider h1 {
      font-size: 60px;
      color: #ffffff;
      font-weight: 300;
      margin: 0; }
    .main .main__slider ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .main .main__slider ul li {
        padding-right: 15px; }
        .main .main__slider ul li a {
          font-weight: 300;
          color: #ffffff;
          -webkit-transition: all 0.4s;
          transition: all 0.4s; }
          .main .main__slider ul li a i {
            margin-left: 8px;
            -webkit-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                    transform: rotate(270deg); }
          .main .main__slider ul li a:hover {
            color: #bdc3c7;
            -webkit-transition: all 0.4s;
            transition: all 0.4s; }
        .main .main__slider ul li:last-child {
          padding: 0; }
