@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700')



//------------var------------//
$purp: #7c28b1

$blue: #35eef6

$main-text-color: #34383d

$accent-text-color: #606366

$white: #ffffff

$light-grey: #bdc3c7

$footer-color: #899096

$font: 'Lato', arial, sans-serif
//-----------end-var----------//

//------------mixins----------//

=gradient
	background: linear-gradient(90deg, $purp, $blue)






//------code------//

ul
	margin: 0
	padding: 0
	list-style: none

a
	text-decoration: none

body
	padding: 0
	margin: 0
	font-family: $font
	line-height: 1.5

.header
	position: relative
	&::before
		content: ''
		width: 100%
		height: 3px
		+gradient
		position: absolute
		top: 0

.header__head
	max-width: 1170px
	margin: 0 auto
	display: flex
	justify-content: space-between
	align-items: center
	padding: 37px 0

.header__head_menu
	ul.first-step
		display: flex
		align-items: center
		li
			padding-right: 40px
			&:last-child
				padding-right: 0
			a
				color: $main-text-color
				font:
					size: 18px
					weight: 300
				transition: all 0.4s
				i
					margin-left: 8px
					font-weight: lighter
					font-size: 13px
				&:hover
					color: $blue
					transition: all 0.4s
		.search
			border: 1px solid #bdc3c7
			border-radius: 50%
			height: 38px
			width: 38px
			display: flex
			justify-content: center
			align-items: center
			a

				i
					color: #bdc3c7
					font-size: 22px
					margin: 0
		.sub-menu
			position: relative

	ul.second-step
		background-color: $white
		width: 230px
		position: absolute
		top: 70px
		left: -40px
		display: flex
		flex-direction: column
		li
			border-bottom: 1px solid #ecf0f1
			a
				display: flex
				justify-content: space-between
				font-size: 16px
				width: 190px
				padding: 16px 20px 12px 20px
				i
					transform: rotate(270deg)
					margin: 0
			&:hover
				background-color: #f7f9f9


	ul.third-step
		width: 230px
		position: absolute
		top: 0
		left: 230px
		background-color: $white
		li
			border-bottom: 1px solid #ecf0f1
			padding: 0
			a
				display: flex
				justify-content: space-between
				font-size: 16px
				width: 190px
				padding: 16px 20px 12px 20px
				i
					transform: rotate(270deg)
					margin: 0
				&:hover
					background-color: #f7f9f9

.grid-item
	height: 370px
	width: 370px
	background-color: pink
	border-radius: 10px

.main
	+gradient
	padding: 110px 0
	.main__slider
		margin: 0 auto
		max-width: 1170px
		text-align: center
		h1
			font-size: 60px
			color: $white
			font-weight: 300
			margin: 0
		ul
			display: flex
			justify-content: center
			li
				padding-right: 15px
				a
					font-weight: 300
					color: $white
					transition: all 0.4s
					i
						margin-left: 8px
						transform: rotate(270deg)
					&:hover
						color: $light-grey
						transition: all 0.4s
				&:last-child
					padding: 0
